language: cpp
dist: bionic
sudo: false

matrix:
  include:

  # codecov
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - lcov
    script:
      - make build_coverage
    after_success:
      - cd build_coverage
      - bash <(curl -s https://codecov.io/bash) -f cov.info.filtered

  # clang-tidy
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - clang-tidy
    before_script:
      - make file
    script:
      - make clang-tidy

  # cppcheck
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - cppcheck
    before_script:
      - make file
    script:
      - make cppcheck

  # cpplint
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
    before_script:
      - pip install cpplint
      - make file
    script:
      - make cpplint

  # flawfinder
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - flawfinder
    before_script:
      - make file
    script:
      - make flawfinder

  # pmd-cpd
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - openjdk-8-jre
    before_script:
      - wget https://github.com/pmd/pmd/releases/download/pmd_releases%2F6.31.0/pmd-bin-6.31.0.zip
      - unzip pmd-bin-6.31.0.zip
      - make file
    script:
      - make PMD=../../pmd-bin-6.31.0/bin/run.sh pmd-cpd

  # build on linux / gcc
  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-4.8
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-4.8
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-5
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-5
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-6
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-6
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-7
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-7
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-8
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-8
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: gcc
    env:
      - COMPILER=g++-9
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-9
    script:
      - make COMPILER=${COMPILER} build

  # build on linux / clang
  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-5.0
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-5.0
        packages:
          - clang-5.0
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-6.0
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-6.0
        packages:
          - clang-6.0
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-7
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-7
        packages:
          - clang-7
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-8
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-8
        packages:
          - clang-8
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-9
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-9
        packages:
          - clang-9
    script:
      - make COMPILER=${COMPILER} build

  - os: linux
    compiler: clang
    env:
      - COMPILER=clang++-10
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-bionic-10
        packages:
          - clang-10
    script:
      - make COMPILER=${COMPILER} build

